---
import { Image } from 'astro:assets';
import Layout from "@layouts/Layout.astro";
import hoki_map from "../assets/images/Hoki_map.png"
---

<Layout title="">
	<div class:list={["max-w-screen-xl mx-auto px-5"]}>
		<html lang="en">
			<div class="grid place-items-center content-center ">
 	  			<p class="text-5xl font-extrabold text-red-700 my-5">Kontakt</p>

					<!-- <div> <Image src={hoki_map} alt="Hoki Standort" width="600" /></div> -->

		
				  <!-- eingebettete interaktive Karte -->
				  <iframe
					width="600"
					height="450"
					style="border:0"
					loading="lazy"
					allowfullscreen
					src="https://www.openstreetmap.org/export/embed.html?bbox=9.6450,47.8080,9.6480,47.8105&layer=mapnik&marker=47.8093,9.6465">
					</iframe>


				<p class="text-1xl py-1"> HoKi - Holzkiste, St.-Longinus-Straße 8, 88250 Weingarten</p>
				<p class="text-1xl py-1 text-left"> Instagram: <a href="https://www.instagram.com/hoki_wgt" target="_blank" rel="noopener noreferrer">hoki_wgt</a></p>
				<p class="text-1xl py-1"> Öffnungszeiten: Montag - Freitag von 20:00 bis 01:00 Uhr </p>
			</div>
		</html>
	</div>
	  
</Layout>