---
import { Image } from 'astro:assets';
import Layout from "@layouts/Layout.astro";
import hoki_logo from "../assets/images/Hoki_logo_neg.png"
---

<Layout title="">
	<div class:list={["max-w-screen-xl mx-auto px-5"]}>
		<html lang="en">
			<div class="grid place-items-center content-center ">
 	  			<p class="text-3xl font-extrabold text-white-800 my-5">Willkommen!</p>
					<div><Image src={hoki_logo} alt="A real coder." width="400"/></div>
				<p class="text-4xl py-5">Hier coden Tim und Eva!</p>
			</div>
		</html>
	</div>
</Layout>