---
import Layout from "@layouts/Layout.astro";
import SolidItemRent from "@solid/7_solidItemRent"
---

<Layout title="Rent">
  <section>
    {/* WICHTIG: Um die Komponente im Client (Browser) nutzen zu können, muss diese 
                 an den Browser geschickt werden. Dies wird durch client:load ermöglicht.  */}
    <SolidItemRent client:load />
  </section>
</Layout>
