---
import Layout from "@layouts/Layout.astro";
import SolidRent from "@solid/10_solidRent"
---

<Layout title="Rent">
  <section>
    {/* WICHTIG: Um die Komponente im Client (Browser) nutzen zu können, muss diese 
                 an den Browser geschickt werden. Dies wird durch client:load ermöglicht.  */}
    <SolidRent client:load />
  </section>
</Layout>
