<script>
    // JavaScript code, um toggle zu Burger Menu zu ermöglichen.
    document.addEventListener('DOMContentLoaded', function () {
      const menuButton = document.querySelector('.navbar-start .btn');
      const dropdownMenu = document.querySelector('.dropdown .dropdown-content');
  
      menuButton.addEventListener('click', function () {
        dropdownMenu.classList.toggle('hidden');
      });
    });
</script>

<div class="navbar bg-base-100">
  <!-- linke Seite: Drawer button -->
  <div class="navbar-start">
    <label for="my-drawer" class="btn btn-primary drawer-button">Navigation</label>
  </div>

  <!-- Center: Schichtplaner HoKi -->
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-4xl">Schichtplaner HoKi</a>
  </div>

  <!-- Optional: rechte Seite (momentan leer) -->
  <div class="navbar-end"></div>
</div>

<!-- Drawer content -->
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <li><a class="" href="/">Home</a></li>
      <li><a href="/Schichtplan/">Schichtplan</a></li>
      <li><a href="/Contact/">Contact</a></li>
      <li><a href="/login/">Login</a></li>
    </ul>
  </div>
</div>
<!-- Content here -->

